<div class="detail-wrapper">

  <div *ngIf="isLoading" class="spinner-wrapper">
    <div class="spinner-border text-primary spinner" role="status"></div>
  </div>

  <div @fade *ngIf="!isLoading" class="card shadow-lg">
    <img [src]="userDetail.profilePicture" class="profile-pic" [alt]="userDetail.name + 's profile picture'">
    <h5 class="mt-4"> {{userDetail.name}} </h5>
    <p [innerHTML]="userDetail.bio | markup"></p>
    <button class="btn btn-primary container-fluid" (click)="redirectToList()"> Back to List </button>
  </div>
</div>
