.card {
  position: relative;
  width: 40vw;
  margin: 2rem auto;
  img {
    align-self: center;
    width: 8rem;
    height: 8rem;
  }
  .card-title {
    font-size: 25px;
  }
  button {
    position: absolute;
    bottom: 1rem;
    right: 1rem
  }
}


