.card {
  width: 40vw;
  margin: 2rem auto;
  .card-title {
    font-size: 25px;
  }
  img {
    align-self: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }
}


