<div *ngIf="!users$" class="spinner-wrapper">
  <div class="spinner-border text-primary spinner" role="status"></div>
</div>

<ng-container *ngIf="users$ | async as users">
  <div @fade class="card mb-4 p-4 shadow-lg" *ngFor="let user of users">
    <div class="row g-0">
      <img [src]="user.profilePicture" class="profile-pic" [alt]="user.name + 's profile picture'">
      <div class="col-md-8 col-lg-9">
        <h5 class="card-title m-lg-2">{{user.name}}</h5>
        <button class="btn btn-primary" (click)="redirectToDetail(user.id)">Show profile</button>
      </div>
    </div>
  </div>
</ng-container>
